.git
.github
.superpowers
.worktrees

node_modules
**/node_modules

packages/client/dist
packages/server/dist
packages/server/coverage

packages/server/music
packages/server/cache
packages/server/data
packages/server/prisma/data
packages/server/*.sqlite3*
server/src

music
cache
data

*.log
TODO.md
