.git
.github
.superpowers
.worktrees

node_modules
**/node_modules

server/src/client/dist
server/src/dist
server/src/coverage

server/src/music
server/src/cache
server/src/prisma/data
server/src/*.sqlite3*

music
cache
data

*.log
TODO.md
