@use '~/styles/var';

.PlaylistSummary {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: var.$SPACING_MD;
    text-align: center;

    .cover {
        width: 260px;
        max-width: 76%;
        margin-bottom: var.$SPACING_SM;
        border-radius: var.$RADIUS_XL;
        box-shadow: 0 12px 32px rgba(0, 0, 0, 0.45);
    }
}
