html,
body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    width: 860px;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 1rem;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #000;
    color: #eee;
    padding: 60px 0 80px;
}
