@use '~/styles/var';

.ActionBar {
    position: sticky;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    background-color: var.$COLOR_PURPLE_PROMINENT;

    button {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        font-size: 0.75rem;
        font-weight: bold;
        gap: 0.25rem;

        svg {
            width: 1.25rem;
            height: 1.25rem;
        }
    }
}
