@use '~/styles/var';

.Grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 1rem;
    list-style: none;

    @media (max-width: var.$BREAKPOINT_TABLET) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
