@use '~/styles/var';

.ArtistListItem {
    cursor: pointer;
    padding: var.$SPACING_MD;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var.$SPACING_MD;
    transition: var.$TRANSITION_FAST;
    transition-property: background-color;

    @include var.hover-capable {
        &:hover {
            background-color: var.$COLOR_HOVER;
        }
    }

    &:active {
        background-color: var.$COLOR_ACTIVE;
    }

    .image-container {
        width: 64px;
        height: 64px;
        border-radius: var.$RADIUS_FULL;
        overflow: hidden;
        flex-shrink: 0;
        box-shadow: 0 0 0 1.5px var.$COLOR_BORDER;
    }

    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: var.$SPACING_XS;
        min-width: 0;
        flex: 1;
    }

    .count {
        display: flex;
        gap: var.$SPACING_SM;
    }
}
