@use '~/styles/var';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1rem;
}

.code {
    font-size: 1.75rem;
    font-weight: 700;
    color: var.$COLOR_TEXT;
}

.text {
    font-size: var.$TEXT_SIZE_BASE;
    color: var.$COLOR_TEXT_TERTIARY;
}
