@use '~/styles/var';

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.rowControl {
    margin-left: 1rem;
}

.dragControl {
    cursor: grab;
    touch-action: none;
}

.headerControl {
    display: flex;
    align-items: center;
    gap: var.$SPACING_MD;
}

.listContent {
    flex: 1;
    min-width: 0;
}

.musicItemShell {
    flex: 1;
    min-width: 0;
}
