@use '~/styles/var';

.playlistRow {
    display: flex;
    align-items: center;
    width: 100%;
}

.dragHandle {
    margin-left: var.$SPACING_SM;
    cursor: grab;
    touch-action: none;
}

.playlistItemShell {
    flex: 1;
    min-width: 0;
}
