@use '~/styles/var';

.AlbumSummary {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    .cover {
        max-width: 100%;
        width: 300px;
        height: auto;
        margin-bottom: 1rem;

        div {
            overflow: hidden;
            aspect-ratio: 1/1;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 16px;
        }
    }

    .row {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .artist {
        font-size: 0.875rem;
        color: var.$COLOR_TEXT;
        opacity: var.$OPACITY_SUB_TEXT;
    }

    .year {
        font-size: 0.875rem;
        opacity: var.$OPACITY_TERTIARY_TEXT;
    }
}
