.MusicPlayerPulseStyle {
    .foreground-wrapper {
        overflow: hidden;
        aspect-ratio: 1/1;
    }

    .foreground {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }
}
