@use '~/styles/var';

$SIZE_ALBUM_ART: 50px;
$SIZE_ICON: 40px;

$GAP_ITEM_INNER: 16px;

.MusicListItem {
    color: var.$COLOR_TEXT;
    font-size: 12px;
    cursor: pointer;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $GAP_ITEM_INNER;
    width: 100%;

    &.isHated {
        opacity: 0.5;
    }

    @media (min-width: var.$BREAKPOINT_DESKTOP) {
        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }

    .album-art {
        width: $SIZE_ALBUM_ART;
        height: $SIZE_ALBUM_ART;
        border-radius: 16px;
        object-fit: cover;
    }

    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex: 1;
        width: 100%;
        max-width: 100%;
        gap: 12px;

        &.hasAlbumCover {
            max-width: calc(100% - $SIZE_ALBUM_ART - $GAP_ITEM_INNER);
        }

        .info {
            display: flex;
            flex-direction: column;
            flex: 1;
            width: 100%;
            max-width: 100%;
            gap: 0.125rem;

            &.hasMenu {
                max-width: calc(100% - $SIZE_ICON - $GAP_ITEM_INNER);
            }
        }

        .artist,
        .title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .artist {
            font-size: 14px;
            opacity: var.$OPACITY_TERTIARY_TEXT;
        }

        .title {
            font-size: 14px;
            gap: 4px;

            .track-number {
                margin-right: 0.25rem;
                opacity: 0.3;
                font-weight: 400;
            }

            .codec {
                border: 1px solid #333;
                color: #eee;
                margin-left: 4px;
                padding: 1px 4px;
                border-radius: 8px;
                font-size: 8px;
            }
        }

        .icon-button {
            color: var.$COLOR_TEXT;
            width: $SIZE_ICON;
            height: $SIZE_ICON;
            background: none;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 1.125rem;
                height: 1.125rem;
            }

            &.isLiked {
                svg {
                    fill: var.$COLOR_POINT;
                    color: var.$COLOR_POINT;
                }
            }

            @media (min-width: var.$BREAKPOINT_DESKTOP) {
                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
        }
    }
}
