@use '~/styles/var';

.Text {
    margin: 0;
    padding: 0;
    line-height: var.$LINE_HEIGHT_DEFAULT;

    &.variant-primary {
        color: var.$COLOR_TEXT;
    }

    &.variant-secondary {
        color: var.$COLOR_TEXT_SECONDARY;
    }

    &.variant-tertiary {
        color: var.$COLOR_TEXT_TERTIARY;
    }

    &.variant-muted {
        color: var.$COLOR_TEXT_MUTED;
    }

    &.size-xs {
        font-size: var.$TEXT_SIZE_XS;
    }

    &.size-sm {
        font-size: var.$TEXT_SIZE_SM;
    }

    &.size-md {
        font-size: var.$TEXT_SIZE_MD;
    }

    &.size-base {
        font-size: var.$TEXT_SIZE_BASE;
    }

    &.size-lg {
        font-size: var.$TEXT_SIZE_LG;
    }

    &.size-title {
        font-size: var.$TEXT_SIZE_TITLE;
        line-height: var.$LINE_HEIGHT_HEADING;
    }

    &.size-xl {
        font-size: var.$TEXT_SIZE_XL;
        line-height: var.$LINE_HEIGHT_HEADING;
    }

    &.size-2xl {
        font-size: var.$TEXT_SIZE_2XL;
        line-height: var.$LINE_HEIGHT_DISPLAY;
    }

    &.weight-normal {
        font-weight: var.$FONT_WEIGHT_NORMAL;
    }

    &.weight-medium {
        font-weight: var.$FONT_WEIGHT_MEDIUM;
    }

    &.weight-semibold {
        font-weight: var.$FONT_WEIGHT_SEMIBOLD;
    }

    &.weight-bold {
        font-weight: var.$FONT_WEIGHT_BOLD;
    }

    &.truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
