@use '~/styles/var';

.cover-wrapper {
    aspect-ratio: 1;
    overflow: hidden;
}

.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    display: flex;
    flex-direction: column;
    padding: var.$SPACING_MD;
    gap: var.$SPACING_XS;
}
