:root {
    --b-color-background: #0e0e0e;
    --b-color-background-over-layer: #181818;
    --b-color-text: #ccc;
    --b-color-point: #a076f1;
    --b-color-border: #333;
    --b-color-primary-button: #a076f1;
    --b-color-secondary-button: #222;
}

.rosy {
    --b-color-background: #e9e1e1;
    --b-color-background-over-layer: #e9c8c8;
    --b-color-text: #1d0101;
    --b-color-point: #e44141;
    --b-color-border: #bca4a4;
    --b-color-primary-button: #e44141;
    --b-color-secondary-button: #e9c8c8;
}

.breeze {
    --b-color-background: #f4f4f4;
    --b-color-background-over-layer: #ebe8e8;
    --b-color-text: #2b2b2b;
    --b-color-point: #a076f1;
    --b-color-border: #d1d1d1;
    --b-color-primary-button: #a076f1;
    --b-color-secondary-button: #e0e0e0;
}
