@forward '@baejino/style/scss/var';

@use '@baejino/style/scss/var' as common;

/* COLOR */
$COLOR_BACKGROUND: var(--b-color-background);
$COLOR_BACKGROUND_OVER_LAYER: var(--b-color-background-over-layer);
$COLOR_TEXT: var(--b-color-text);
$COLOR_POINT: var(--b-color-point);
$COLOR_BORDER: var(--b-color-border);
$COLOR_PRIMARY_BUTTON: var(--b-color-primary-button);
$COLOR_SECONDARY_BUTTON: var(--b-color-secondary-button);

/* OPACITY */
$OPACITY_SUB_TEXT: 0.7;
$OPACITY_TERTIARY_TEXT: 0.5;
