@use '~/styles/var';

.TwoToneLayout {
    .header {
        position: relative;
        padding: var.$SPACING_SIZE_7 var.$SPACING_SIZE_3;
        background: var.$COLOR_BACKGROUND_OVER_LAYER;
        border-radius: 0.5rem;
    }

    .primaryAction {
        position: absolute;
        bottom: 0;
        right: 0.5rem;
        transform: translateY(50%);

        button {
            border-radius: 100%;
            width: 4rem;
            height: 4rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var.$COLOR_BACKGROUND_OVER_LAYER;
            border: 4px solid var.$COLOR_BACKGROUND;
            color: var.$COLOR_TEXT;
            transition: background-color 0.2s;

            svg {
                width: 1.5rem;
                height: 1.5rem;
            }
    
            @media (min-width: var.$BREAKPOINT_DESKTOP) {
                &:hover {
                    background-color: var.$COLOR_BACKGROUND;
                }
            }
        }
    }

    &.hasPrimaryAction {
        .content {
            margin-top: var.$SPACING_SIZE_5;
        }
    }

    .content {
        margin-top: 0;
    }
}
